<VirtualHost *:*>
    ProxyPreserveHost On
    ProxyPass        "/" "http://{{ hostvars[groups['appservers'][0]]['ansible_eth1']['ipv4']['address'] }}:8080/sample/"
    ProxyPassReverse "/" "http://{{ hostvars[groups['appservers'][0]]['ansible_eth1']['ipv4']['address'] }}:8080/sample/"
</VirtualHost>
